<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top"
       <div class="jumbotron">
          <h1>KVUL</h1>
    <div class="container">
      <ul class="nav navbar-nav">
      <h2><a class="navbar-link" href="{% url "admin:index" %}">Login</a></h2>
    </nav>

    </div>
  </div>
  </body>
</html>
